body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("fbg2.jpg");
}

canvas {
    display: block;
}
